.best_seller_swiper_container {
   width: 100%;
   height: auto;
   position: relative;
}

.best_seller_swiper_container .slider_header p {
   font-size: 12px;
}

.best_seller_swiper_container .slider_header a {
   font-size: 10px;
}

.feature_mealtime_swiper_container {
   margin-top: 40px;
}

.main_menu {
   z-index: 100;
   padding: 40px 0px 0px 0px;
   font-weight: 500;
}

.d_main_menu li p {
   text-decoration: none;
   padding: 5px 10px;
   /* background-color: #ecf3ff; */
   border-radius: 50px;
   margin-left: 2rem;
   transition: background-color 0.5s ease
}

.d_main_menu li span {
   transition: background-color 0.5s ease
}

.d_main_menu li:hover {
   cursor: pointer;
}

.d_main_menu li:hover p {
   background-color: #ecf3ff;
   transition: background-color 0.5s ease
}

.d_main_menu li:hover span {
   background-color: #ecf3ff;
   transition: background-color 0.5s ease
}

.d_main_menu ul {
   display: flex;
   list-style: none;
}


.main_menu ul {
   padding: 0px 10px 10px 10px;
}

.main_menu li {
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .5rem 0rem;
   border-bottom: 1px solid rgb(240, 240, 240);
}

.main_menu li #arrow_right {
   width: 5px;
}

.main_menu .swiper_wrapper {
   padding: 0px 10px 10px 10px;
}

.slider_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 10px 10px 10px;
}

.slider_header>p {
   font-style: italic;
   font-size: 1rem;
}

.slider_header a {
   color: #3057a7;
   font-size: .8rem;
   text-decoration: underline;

}

.sub_menu {
   z-index: 1000;
   padding: 40px 0px 0px 0px;
   position: absolute;
   width: 100%;
   height: 100%;
   background: white;
}

.sub_menu ul {
   padding: 0px 10px 0px 10px;
}

.sub_menu li {
   text-decoration: none;
   padding: .5rem 0rem;
}