.swiper {
   width: 100%;
   height: 100%;
}

.swiper-wrapper {
   height: 250px;
   padding: 5px 0px 15px 0px;
   margin-left: 10px;
}

.swiper-slide {
   text-align: center;
   font-size: 10px 5px;
   background: #f2f2f2;
   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   padding: 10px 10px;
}

.swiper-detail {
   display: block;
   text-align: left;
   padding: 0px 10px;
}

.swiper-detail>span {
   font-size: 8px;
   color: gray;
   font-weight: 600;
   letter-spacing: 1px;
}

.swiper-detail>p {
   font-weight: 200;
}

.swiper-slide {
   width: 80%;
}

.swiper-slide:nth-child(2n) {
   width: 60%;
}

.swiper-slide:nth-child(3n) {
   width: 40%;
}



@media (max-width: 768px) {
   .swiper-wrapper {
      height: 180px;
      padding: 5px 0px 10px 0px;
      margin-left: 5px;
   }
}